div:not([class]) .container {
margin-top: 0 !important;
margin-bottom: 0 !important;

}








@media screen and (max-width: 992px) {


    .columnsCollectionContainer .col-md {
        padding-left: 5px;
      padding-right: 5px;
    }



}